h2{
    text-align: center;
    background-color: rgb(108, 194, 10);
    border-radius: 10%;
    color: white;
}
button
{
    background-color: rgb(1, 31, 1);
    color: white;
    border-radius: 30px;
}
div
{
 margin: auto;
 border: 2px;
 background-color: rgba(13, 96, 190, 0.671);
 width: 800px;
}